name: CI

on:
  push:
    branches:
      - "main"
    paths:
      - ".github/workflows/ci.yaml"
      - ".config/nextest.toml"
      - "Cargo.toml"
      - "Cargo.lock"
      - 'src/**'
      - "tests/**"
      - "bin/ci/before_build.sh"
  pull_request: {}

env:
  RUSTFLAGS: -D warnings
  CARGO_TERM_COLOR: always
  TEST_STATS_DELAY: 5000

jobs:
  lint:
    name: Lint
    strategy:
      matrix:
        runner:
          - "ubuntu-22.04"
          - "ubuntu-24.04"
    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Lint (clippy)
        run: cargo clippy --all-features

      - name: Lint (rustfmt)
        run: cargo fmt --all --check

  build:
    name: Build and test
    strategy:
      matrix:
        rust-version:
          - stable
          - beta
        runner:
          - "ubuntu-22.04"
          - "ubuntu-24.04"
          - "ubuntu-24.04-arm"
    runs-on: ${{ matrix.runner }}

    services:
      rabbitmq:
        image: rabbitmq:4-management
        ports:
          - 15672:15672
          - 5672:5672

    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust-version }}

      - uses: taiki-e/install-action@nextest

      - name: Wait for node to start booting
        run: sleep 15

      - name: Pre-configure the node
        run: RUST_HTTP_API_CLIENT_RABBITMQCTL=DOCKER:${{job.services.rabbitmq.id}} bin/ci/before_build.sh

      - name: Run all tests
        run: RUST_BACKTRACE=1 TEST_STATS_DELAY=1500 cargo nextest run --profile sequential --workspace --no-fail-fast --all-features
